<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authenticate Page</title>
</head>
<style>
.authenticate {
  background-color: #ff6600;
  border-radius: 16px;
  border: 1px;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h4 {
  text-align: left;
  text-transform: uppercase;
  color: #4CAF50;
}
.content {
  max-width: 330px;
  margin: auto;
  background: white;
  padding: 20px;
}
</style>
<body bgcolor="black">
<div class="content">
<table align="centre">
    <form action="https://kite.trade/connect/login" method="get">
        <tr><td><h4>API key:</h4></td><td><input name="api_key" value="hmm8pea3mlgdqe3h" /></td></tr>
        <tr><td><h4>API Version:</h4></td><td><input name="v" value="v3"/></td></tr>
        <tr><td></td><td><input type="submit" value="Authenticate" class="authenticate"></td></tr>
    </form>
</table>
</div>
</body>
</html>